.descriptionPro
{
    background-color: #f4d09d;
    color: black;
    border: 4px solid black;
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    border-radius: 4%; 
    font-size: 150%; /* resize: 75%*/
}
.descriptionPerso
{
    background-color: #f4d09d;
    color: black;
    border: 4px solid black;
    margin: 3%;
    margin-left: 5%;
    margin-right: 4.5%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 4%; 
    font-size: 150%;/* resize: 75%*/
}


.descriptionArea{
    display: flex;
    flex-direction: row;/* resize: column*/
    margin: 0%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-left: 1%;
    width: 100%;
    height: auto;
    text-align: justify;
}